<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Demo Gallery</title>
  </head>
  <body class="container " style="padding-top: 5%;">
    <div class="row">
        {% for result in results %}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{ result.orig_image.photo.url }}">
              <img src="{{ result.orig_image.photo.url }}" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Source: {{ result.orig_image.title }}</p>
              </div>
            </a>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{ result.emoji.photo.url }}">
              <img src="{{ result.emoji.photo.url }}" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Found emotion: {{ result.emotion }}</p>
              </div>
            </a>
          </div>
          
        </div>
        {% endfor %}
      </div>
  </body>
</html>
